<%- include('partials/header'); %> <%- include('partials/menu') %>

<div class="row">
  <div class="row col-5 ">
    <%- pornhub %>
  </div>
  <div class="row col-4 ">
    <%- horoscope %>
  </div>
</div>
<div id="bottom">
  <div class="row">
    <%- steamProfile %>
    <%- steamGames %>
  </div>
</div>

<div id="topRight">
  <%- weather %>
  <%- epitech %>

</div>


<%- body %>

<script>
  const pornhub = document.getElementById("pornhub");
  pornhub.addEventListener('click', function (e) {
    if (pornhub.classList.contains('blur'))
      pornhub.classList.remove('blur');
    else
      pornhub.classList.add('blur');
  })
</script>