<%- include('partials/header'); %> <%- include('partials/menu') %>
<h3>Pornhub</h3>
<div id="pornhub" class="row col-8 blur">
  <%- pornhub %>
</div>

<div id="bottom">
  <div class="row">
    <%# steamProfile %>
    <%# steamGames %>
  </div>
</div>

<div id="topRight">
  <%- weather %>
  <%- epitech %>

</div>


<%- body %>

<script>
  const pornhub = document.getElementById("pornhub");
  pornhub.addEventListener('click', function (e) {
    if (pornhub.classList.contains('blur'))
      pornhub.classList.remove('blur');
    else
      pornhub.classList.add('blur');
  })
</script>