<%- include('partials/header'); %> <%- include('partials/menu') %>

<div class="row">
  <div class="row col-5 ">
    <%- pornhub %>
  </div>
  <div class="row col-4">
    <%- horoscope %>
  </div>
</div>

<div class="row">
  <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

  <p draggable="true" ondragstart="drag(event)" width="336" height="69">coucou</p>
</div>
<div id="bottom">
  <div class="row">
    <%- steamProfile %>
    <%- steamGames %>
  </div>
</div>

<div id="topRight">
  <%- weather %>
  <%- epitech %>

</div>


<%- body %>

<script>
  const pornhub = document.getElementById("pornhub");
  pornhub.addEventListener('click', function (e) {
    if (pornhub.classList.contains('blur'))
      pornhub.classList.remove('blur');
    else
      pornhub.classList.add('blur');
  })


  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
  }

  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
  }
</script>