<%- include('templates/home'); %>

</br>
<img src=<%= img %> />
<b><%= nick %></b>
<br />
<h1>Vous avez : <b><%= totalGames %></b> jeux</h1>
<h1>Jeux Recents :</h1>
<b><%=game_name_1 %></b>
</br>
<img src=<%= game_img_1 %> ?>
</br>
<b><%=game_name_2 %></b>
</br>
<img src=<%= game_img_2 %> ?>
</br>
<b><%=game_name_3 %></b>
</br>
<img src=<%= game_img_3 %> />
</br>
</br>