<div class="card text-center">
  <div class="widgetTitle"><h4>Profile</h4></div>

  <img class="card-img-top" src=<%= img %> alt=<%=nick %>>
  <div class="card-body">
    <h6 class="card-title"><%= nick %></h6>
    <p class="card-text">
      Vous êtes niveau <%= lvl %> <br />
      Vous avez joue <%= Number.parseFloat(gamingTime / 60).toPrecision(4) %>h
      en tout
    </p>
  </div>
</div>
