<img class="steamProfile" src=<%= steamData.img %> alt=<%= steamData.nick %>>

<div>
  Profile de: <%= steamData.nick %> <br />
  Niveau: <%= steamData.lvl %><br />
  Temps de jeux total: <%= Number.parseFloat(steamData.gamingTime / 60).toFixed(2) %>H
</div>