<img class="steamProfile" src=<%= steamData.avatar.medium %> alt=<%= steamData.nick %>>

<div>
  Profile de: <%= steamData.nickname %> <br />
  Niveau: <%= steamData.level %><br />
  Temps de jeux total: <%= Number.parseFloat(steamData.gamingTime / 60).toFixed(2) %>H
</div>